  :root {
    --c-surface-dim: 216 219 226;
    --c-on-secondary-fixed: 26 35 51;
    --c-on-secondary: 60 70 87;
    --c-surface-variant: 216 219 226;
    --c-on-background: 26 35 51;
    --c-primary-container: 255 209 102;
    --c-surface: 242 247 242;
    --c-on-tertiary-container: 255 217 221;
    --c-outline-variant: 170 176 188;
    --c-on-error-container: 76 6 29;
    --c-tertiary: 76 6 29;
    --c-primary: 255 173 5;
    --c-surface-container: 216 219 226;
    --c-on-surface-variant: 60 70 87;
    --c-on-primary-container: 35 26 0;
    --c-error: 179 38 30;
    --c-error-container: 255 218 214;
    --c-on-tertiary: 242 247 242;
    --c-on-error: 255 255 255;
    --c-secondary: 60 70 87;
    --c-secondary-container: 216 219 226;
    --c-surface-tint: 255 173 5;
    --c-inverse-primary: 255 173 5;
    --c-inverse-on-surface: 242 247 242;
    --c-inverse-surface: 26 35 51;
    --c-secondary-fixed: 60 70 87;
    --c-on-primary: 35 26 0;
    --c-on-tertiary-fixed: 242 247 242;
    --c-surface-container-low: 233 237 239;
    --c-surface-container-highest: 194 199 209;
    --c-on-primary-fixed-variant: 107 74 0;
    --c-secondary-fixed-dim: 60 70 87;
    --c-primary-fixed: 138 95 0;
    --c-on-primary-fixed: 76 58 0;
    --c-outline: 112 122 137;
    --c-tertiary-fixed: 76 6 29;
    --c-surface-bright: 242 247 242;
    --c-on-surface: 26 35 51;
    --c-surface-container-lowest: 255 255 255;
    --c-on-secondary-fixed-variant: 42 51 66;
    --c-background: 242 247 242;
    --c-primary-fixed-dim: 138 95 0;
    --c-surface-container-high: 205 209 218;
    --c-on-tertiary-fixed-variant: 242 247 242;
    --c-on-secondary-container: 42 51 66;
    --c-tertiary-container: 255 217 221;
    --c-tertiary-fixed-dim: 76 6 29;
  }

  html.dark, .always-dark {
    --c-surface-dim: 11 13 16;
    --c-on-secondary-fixed: 11 13 16;
    --c-on-secondary: 216 219 226;
    --c-surface-variant: 34 38 46;
    --c-on-background: 242 247 242;
    --c-primary-container: 255 194 61;
    --c-surface: 11 13 16;
    --c-on-tertiary-container: 255 217 221;
    --c-outline-variant: 51 54 62;
    --c-on-error-container: 255 218 214;
    --c-tertiary: 255 143 168;
    --c-primary: 255 173 5;
    --c-surface-container: 21 24 29;
    --c-on-surface-variant: 216 219 226;
    --c-on-primary-container: 35 26 0;
    --c-error: 255 180 171;
    --c-error-container: 76 6 29;
    --c-on-tertiary: 76 6 29;
    --c-on-error: 59 10 22;
    --c-secondary: 216 219 226;
    --c-secondary-container: 76 6 29;
    --c-surface-tint: 255 173 5;
    --c-inverse-primary: 184 126 0;
    --c-inverse-on-surface: 11 13 16;
    --c-inverse-surface: 242 247 242;
    --c-secondary-fixed: 216 219 226;
    --c-on-primary: 35 26 0;
    --c-on-tertiary-fixed: 76 6 29;
    --c-surface-container-low: 16 18 22;
    --c-surface-container-highest: 34 38 46;
    --c-on-primary-fixed-variant: 35 26 0;
    --c-secondary-fixed-dim: 216 219 226;
    --c-primary-fixed: 255 173 5;
    --c-on-primary-fixed: 35 26 0;
    --c-outline: 138 143 153;
    --c-tertiary-fixed: 255 143 168;
    --c-surface-bright: 42 47 56;
    --c-on-surface: 242 247 242;
    --c-surface-container-lowest: 7 8 10;
    --c-on-secondary-fixed-variant: 107 18 38;
    --c-background: 11 13 16;
    --c-primary-fixed-dim: 255 173 5;
    --c-surface-container-high: 27 31 38;
    --c-on-tertiary-fixed-variant: 76 6 29;
    --c-on-secondary-container: 255 218 214;
    --c-tertiary-container: 107 18 38;
    --c-tertiary-fixed-dim: 255 143 168;
  }
